strong{font-weight:bold;}
h1{color:yellow;
background-color:blue;
text-align:center;
size:200px;}
h2{text-align:center;
color:red;}
body{background-color:lightblue;
color:green;
margin:10px}
section{color:blue;}
.a li{color:red;
background-color:green;
list-style-type:none;
size:200px;
gap:20px;
}
.e{gap:5px;
color:yellow;
background-color:green;
text-align:left;
size:100px;
padding: 5px 10px 5px 10px;
}
.d{list-style-type:none;}
.c{color:green;
background-color:blue;
padding:10px;
size:100px;}
img{
  border-radius: 0 30px 0 30px;
}
.e:hover {
transform: rotate(360deg) scale(0.5);
  background: gold;
  backbround-color: skyblue;
  transition: 1s;
text-align:left;
size:100px;
padding: 5px 10px 5px 10px;
}
  
